// @import url(./variables.scss);

@import './variables.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: inherit;
}

body {
  background-color: #f4f6f5;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;

  @media (max-width: 800px) {
    padding: 0 40px;
  }
}

.button {
  width: 100%;
  background: transparent;
  padding: 20px 60px;
  color: rgba(89, 141, 102, 1);
  cursor: pointer;
  font-size: 20px;
  border: 1px solid rgba(89, 141, 102, 1);
  transition: all 0.2s ease;

  &:hover {
    background-color: #598d66;
    color: rgba(244, 246, 245, 1);
  }



  &:active {
    background-color: #376b44;
  }

  &:disabled {
    color: grey;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
      color: grey;
    }
  }



  @media (max-width: 576px) {
    font-size: 18px;
  }
}

.slogan__button {
  max-width: 227px;
}

.title {
  color: #2c2d35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;

  @media (max-width: 800px) {
    font-size: 24px;
  }
}

.sign-btn{ 
  border: none;
  background: #598d66;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: all .2s ease;

  &:hover { 
    background-color: #679d75;
  }

}


.session__img{ 
  border-radius: 10px;
}


.profile{ 
  display: flex;
  align-items: center;
  gap :10px;
}