.header {
  background-color: #d4e8d9;

  &__list {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }


  &__left { 
    display: flex;
    align-items: center;
    gap: 60px;
  }
}
