.header {
  background-color: #d4e8d9;
  padding: 0 20px;

  &__list {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    @media (max-width:876px) {
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        height: 100%;
    }
  }

  &__border { 
    display: none;

    @media (max-width:576px) {
        display: block;
        border-top: 1px solid #C3D1C6;
        margin: 16px 0;

        width: 510px;

    }

    @media (max-width:530px) {
      display: none;
    }
  }


  &__left { 
    display: flex;
    align-items: center;
    gap: 60px;


    @media (max-width:530px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
  }
}
