.reproductions {
  margin-bottom: 70px;
  position: relative;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: 700px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    gap: 32px;

    overflow: scroll;
  }

  .category-button {
    padding: 10px 20px;
    background-color: #d4e8d9;
    border-radius: 20px;
    border: none;
    color: #2c2d35;

    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
  }
  .active {
    background: #376b44;
    transition: all 0.2s ease;
    color: white;
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media (max-width: 1110px) {
      justify-content: center;
    }
  }

  &__card {
    background: #e1ede6;
    padding: 20px;

    img {
      margin-bottom: 20px;

      @media (max-width: 1110px) {
        max-width: 200px;
        max-height: 250px;
      }

      @media (max-width: 622px) {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    .author {
      margin-bottom: 10px;
      color: rgba(134, 146, 139, 1);
      font-weight: 500;
      font-size: 18px;

      @media (max-width: 1110px) {
        font-size: 16px;
      }
    }

    .title {
      color: #2c2d35;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 8px;

      @media (max-width: 1110px) {
        font-size: 24px;
      }
    }

    .size {
      color: #2c2d35;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 30px;

      @media (max-width: 1110px) {
        font-size: 16px;
      }
    }

    .price {
      color: #598d66;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;

      @media (max-width: 1110px) {
        font-size: 20px;
      }
    }
  }
}
