.reproductions {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__category {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .category-button {
    padding: 10px 20px;
    background-color: #d4e8d9;
    border-radius: 20px;
    border: none;
    color: #2c2d35;

    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
  }
  .active {
    background: #376b44;
    transition: all .2s ease;
    color: white;
  }
}
